<html>
    <head>
        <title>Profile</title>
    </head>
    <style>
        nav,h1{
            text-align: center;
            background-color: aqua;
            width: 100px;
            margin-left: 630px;
            font-size: 25px;
        }
        img{
            margin-left: 400px;
            margin-top: 20px;
        }
        a{
            text-decoration: none;
            color: blue;
        }
       .re{
        text-decoration: none;
            color: blue;
            text-align: center;
            background-color: aqua;
            width: 100px;
            margin-left: 630px;
            font-size: 25px;
       }
    </style>
    <body>
        <nav>
            <a href="/logout">Logout</a>
        </nav>
 <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014__340.jpg" alt="">
    <h1>loggedin</h1>
    <a class="re" href="https://en.wikipedia.org/wiki/Nature">read more</a>
    </body>
</html>